{% extends 'productos/base.html' %}

{% block productos %}

{% for producto in productos  %}
        <!-- Product image-->
        <img class="card-img-top" src="https://yt3.ggpht.com/ytc/AMLnZu9fSLS8PMsxM9BAFJXk6DzSJNefQsPyxAVJn_cxFA=s900-c-k-c0x00ffffff-no-rj" alt="..." />
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{producto.nombre}}</h5>                
                <!-- Product price-->
                $ {{producto.precio}}
                <p>Stock: {{producto.stock}}</p>
            </div>
        </div>


{% endfor %}

{% endblock %}