{% extends 'productos/base.html' %}

{%block title%}
Ver mas: {{producto.nombre}}
{%endblock%}

{% block header %}
  <h1 class="display-4 fw-bolder">{{producto.nombre}}</h1>
{% endblock %}



{% block detalle %}
<section class="showcase">
  <div class="container-fluid p-0">
      <div class="row g-0">
          
          <div style="max-height:450px; max-width:450px; overflow: hidden">
            <img style="max-width: 450px; max-height: 300px" src="/media/{{producto.imagen}}" class="rounded float-right"/>
          </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
              <h2></h2>
              <p class="lead mb-0">
              {% if producto.descripcion%}
              {{producto.descripcion | safe}}
              {% else %}
              El vendedor no ha incluido una descripción del producto
              {%endif%}
              </p>
              
              <p>$ {{producto.precio}}</p>
              <p>Stock {{producto.stock}}</p>
              <p>Vendedor: {{request.user}}</p>
              <p>Actualización: {{producto.fecha_carga}}</p>
              <a href="{% url 'productos_lista' %}">Todos</a>
            </div>
      </div>
      </div>
  </div>
</section>


{%endblock%}

{%block productos%}




<h1 class="text-center">{{producto.nombre}}</h1>
<p class="text-center"><small> By {{producto.marca}}</small></p>


    <p>$ {{producto.precio}}</p>
    <!--Tengo que agregar la descripcion del proudcto-->

{% endblock %}

{%block comentarios%}


<div class="main-comment-section">
  <p> Cantidad de comentarios: {{ comentarios.count }}</p>
  {% for comment in comentarios %}
    <blockquote class="blockquote">
        <p class="mb-0">{{ comment.contenido }}</p>
        <p></p>
        <footer class="blockquote-footer">by {{ comment.usuario }}</footer>
      </blockquote>
  {% endfor %}
</div>



<h3 color="black">Contanos que te pareció!</h3>
<form method="POST">
    {% csrf_token %}

      {{formulario.as_p}}

      <input type="submit" name="comment" class="btn btn-warning">
    
  </form> 


{% endblock%}