{% extends 'productos/base.html' %}

{%block title%}
Cargar productos
{%endblock%}

{% block header %}
                    <h1 class="display-4 fw-bolder">Bienvenido  {{request.user}}</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Aqui podrás cargar tus productos a la venta</p>
                    {% endblock %}


{% block productos %}
    {% if request.user.is_superuser %}
    <form method="POST" enctype="multipart/form-data">
        
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Cargar producto">
    </form>
    {% else %}
    <p>Usted no puede modificar los datos</p>
    {% endif %}

{% endblock %}


