{% extends 'productos/base.html' %}

{%block title%}
Registrate!
{%endblock%}

{% block header %}
                    <h1 class="display-4 fw-bolder">Registrate gratis!</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Y comenzá a cuidar tu auto con nosotros</p>
                    {% endblock %}


{% block productos %}
        
        <div class="card-body p-4">
            <div class="text-center">
                <form method="post">
                
                {%if error%}
                    <p style="color: red">{{error}}</p>
                {% endif %}


    
                    {% csrf_token %}

                        {{ formulario.as_table }}

                    <input type="submit" value="Registrate!">
                </form>
            </div>
        </div>

{% endblock %}